ul#secondary-menu {
  font-size: $font-size-base - 0.15;

  li.nav-item {
    span {
      display: none;
    }
  }
}

@include media-breakpoint-up(sm) {
  ul#secondary-menu {
    font-size: $font-size-base;
  }
}

@include media-breakpoint-up(lg) {
  ul#secondary-menu {
    li.nav-item {
      span {
        display: initial;
      }
    }
  }
}
