.DS_Store
.git
.gitignore
.cache

.yardoc/
doc/

.codeclimate.yml

README.md
TODO.md

.env.test.local
.env.production.local
.env.test
.env.production

.dockerignore
docker-compose.*
Dockerfile

node_modules/*
yarn.lock

public/assets/*
public/packs/*
public/packs-test/*

log/*
storage/*
tmp/*

.idea/
coverage/
docs/

# Brakeman
brakeman.html
