main#main {
  background-color: $white;
  border: 1px solid $gray-300;
  border-radius: 6px;
  box-shadow: inset 0 1px 1px $black;
  margin-bottom: $main-margin-bottom;
  padding: $spacer;
  transition: all 0.2s ease-in-out;
}
