aside#sidebar {
  background-color: $white;
  border-right: 1px solid $gray-300;
  height: 100%;
  overflow: scroll;
  padding-top: $header-height;
  position: fixed;
  top: 0;
  transition: all 0.2s ease-in-out;
  width: $sidebar-width;
  z-index: 20;

  a.nav-link {
    &.active {
      background-color: $sidebar-link-active-background-color;
      color: $sidebar-link-active-color;
    }

    &:hover {
      background-color: $sidebar-link-hover-background-color;
      color: $sidebar-link-hover-color;

      &.active {
        background-color: $sidebar-link-active-hover-background-color;
        color: $sidebar-link-active-hover-color;
      }
    }
  }
}

@include media-breakpoint-up(sm) {
  aside#sidebar {
    width: $sidebar-min-width;

    ul.nav {
      li.nav-item {
        a {
          text-align: center;
        }

        i {
          font-size: $sidebar-font-size-sm;
        }

        span {
          display: none;
        }
      }
    }
  }
}

@include media-breakpoint-up(lg) {
  aside#sidebar {
    width: $sidebar-width;

    ul.nav {
      li.nav-item {
        a {
          font-size: $sidebar-font-size-lg;
          text-align: inherit;
        }

        i {
          font-size: inherit;
        }

        span {
          display: inline;
        }
      }
    }
  }
}
