<div class="row nested-fields">
  <%= f.input :key, as: :camel_case, wrapper_html: { class: 'col-md-6' } %>
  <%= f.input :value, wrapper_html: { class: 'col-md-6' } %>
  
  <div class="form-group">
    <%= link_to_remove_association(f) %>
  </div>
</div>
