<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
  <div class="position-sticky pt-3">
    <ul class="nav flex-column">
      <li class="nav-item">
        <%= link_to("Dashboard", manage_root_path, class: "nav-link") %>
      </li>
      <li class="nav-item">
        <%= link_to("Contents", manage_contents_path, class: "nav-link") %>
      </li>
      <li class="nav-item">
        <%= link_to("Users", manage_users_path, class: "nav-link") %>
      </li>
      <li class="nav-item">
        <%= link_to("Site", manage_site_path, class: "nav-link") %>
      </li>
    </ul>
  </div>
</nav>
