table {
  thead {
    th.actions {
      text-align: right;
    }
  }

  tbody {
    td.actions {
      text-align: right;

      a.btn {
        span { display: none; }
      }
    }
  }

  &.table {
    tbody {
      tr.status-available {
        border-left: solid 10px $green-200;
      }

      tr.status-deleted,
      tr.status-locked {
        border-left: solid 10px $red-200;
      }

      tr.status-draft,
      tr.status-unconfirmed {
        border-left: solid 10px $gray-200;
      }

      tr.status-scheduled {
        border-left: solid 10px $purple-200;
      }
    }
  }
}
