// Header
$header-height: 70px;

// Sidebar
$sidebar-width: 260px;
$sidebar-min-width: 70px;
$sidebar-font-size-sm: 26px;
$sidebar-font-size-lg: 18px;
$sidebar-link-background-color: transparent;
$sidebar-link-color: $blue;
$sidebar-link-active-background-color: $blue;
$sidebar-link-active-color: $white;
$sidebar-link-hover-background-color: $cyan;
$sidebar-link-hover-color: $white;
$sidebar-link-active-hover-background-color: $blue;
$sidebar-link-active-hover-color: $white;

// Footer
$footer-height: 60px;

// Main
$main-margin-bottom: 70px;

// Section
$section-max-width: none;

// Flash
$flash-container-top: calc($header-height + $spacer);
$flash-container-right: $spacer;
$flash-container-width: 375px;
