<div class="text-center">
  <div class="error-401-show row">
    <div class="col-lg-12">
      <h1>401</h1>

      <h2><%= t('errors.unauthorized') %></h2>

      <p>
        <%= t('errors.unauthorized_message') %>
      </p>
    </div>
  </div>
</div>
